h1 {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
p {
    color: blue;
}
h2 {
    color: green;
}
h3 {
    color: yellow;
}
h4 {
    color: orange;
}
h5 {
    color: purple;
}
h6 {
    color: pink;
}